.WeatherData {
  text-align: right;
}
.WeatherData ul {
  list-style: none;
  padding: 0;
}
.WeatherData #displayed-city {
  font-size: 45px;
  text-transform: capitalize;
  margin: 10px 0;
  font-weight: 500;
}
.WeatherData #current-time {
  font-size: 25px;
  margin: 0;
}
.WeatherData #weather-details {
  text-transform: capitalize;
}
